/TravelGoodBPEL/nbproject/private/
/TravelGoodREST/nbproject/private/
/LameDuck/nbproject/private/
/TravelGoodBPEL/nbproject/private
/TravelGoodREST/nbproject/private
/LameDuckTestTest/nbproject/private/
/LameDuckTestTest/build/
/TravelGoodApp/nbproject/private/
/TravelGoodBPEL/build/
/LameDuck/dist/
/LameDuck/build/
/LameDuck/nbproject/
/LameDuck/web/
/LameDuck/build.xml
/LameDuck/catalog.xml
/LameDuckReboot/nbproject/private/
/LameDuckReboot/build/
/LameDuckReboot/dist/