/TravelGoodBPEL/nbproject/private
/TravelGoodREST/nbproject/private
/TravelGoodApp/nbproject/private/
/TravelGoodBPEL/build/
/TravelGoodApp/build/
/TravelGoodApp/src/jbiServiceUnits/
/TravelGoodApp/dist/
/TravelGoodApp/test/results/
/LameDuck/nbproject/private/
/LameDuckTestTest/nbproject/private/
/LameDuckTestTest/build/
/LameDuck/dist/
/LameDuck/build/
/LameDuck/web/
/LameDuck/build.xml
/LameDuck/catalog.xml
/LameDuckReboot/nbproject/private/
/LameDuckReboot/build/
/LameDuckReboot/dist/
/bpeltest/nbproject/private/
/bpeltest/build/